body{
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-color: lightgray;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    width: fit-content;
    justify-content: center;
    align-items: center;
}

.submit-btn{
    background-color: limegreen;
    border: 1px solid limegreen;
    width: 100%;
    height: auto;
    padding: 0.5rem;
    font-size: 1.2rem;
    color: white;
    border-radius: 5px;
}

.submit-btn:hover{
    background-color: green;
}


.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    background-color: white;
    width: fit-content;
    padding: 2rem;
    box-shadow: 1px 1px 15px gray;
}

label{
    font-weight: bold;
    font-size: 1.2rem;
}

.textbox{
    font-size: 1.2rem;
    border: none;
    padding: 0.5rem;
    border-radius: 0.2rem;
    background-color: #eaeaea;
    outline: none;
}

h1{
    margin: 0;
}

.center{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}